<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserPasswordPolicyMapper">

    <select id="selectExpireDateByUserId" parameterType="java.lang.Long" resultType="java.util.Date">
        select p.last_password_update from sys_user_password_policy p
        where user_id = #{userId}
    </select>

    <select id="selectAll" resultType="com.ruoyi.system.domain.SysPasswordPolicy">
        select id,max_ps_length maxPsLength,min_ps_length minPsLength,change_period changePeriod,allow_wrong_count allowWrongCount,complexity from sys_password_policy p
    </select>

    <update id="updateUserPasswordPolicy" parameterType="SysPasswordPolicy">
        update sys_user_password_policy
        <set>
            <if test="lastPasswordUpdate != null">last_password_update = #{lastPasswordUpdate},</if>
            <if test="lockTime != null">lock_time = #{lockTime},</if>
        </set>
        where user_id = #{userId}
    </update>

    <insert id="insertPasswordPolicy" parameterType="SysPasswordPolicy">
        insert into sys_password_policy(
        <if test="maxPsLength != null and maxPsLength != ''">max_ps_length,</if>
        <if test="minPsLength != null and minPsLength != ''">min_ps_length,</if>
        <if test="changePeriod != null and changePeriod != ''">change_period,</if>
        <if test="allowWrongCount != null and allowWrongCount != ''">allow_wrong_count,</if>
        <if test="complexity != null and complexity != ''">complexity,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        <if test="maxPsLength != null and maxPsLength != ''">#{maxPsLength},</if>
        <if test="minPsLength != null and minPsLength != ''">#{minPsLength},</if>
        <if test="changePeriod != null and changePeriod != ''">#{changePeriod},</if>
        <if test="allowWrongCount != null allowWrongCount != ''">#{allowWrongCount},</if>
        <if test="complexity != null and complexity != ''">#{complexity},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>
</mapper>