<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('密码策略')" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m" id="form-password-add" th:object="${policy}">
		<input id="id" name="id"  type="hidden" th:field="*{id}" />
		<div class="form-group">
			<label class="col-sm-3 control-label ">最短密码长度：</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" name="minPsLength" id="minPsLength" th:field="*{minPsLength}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">最长密码长度：</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" name="maxPsLength" id="maxPsLength" th:field="*{maxPsLength}" required>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">密码更换周期：</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" name="changePeriod" id="changePeriod" th:field="*{changePeriod}" required>
			</div>
			<label class="control-label">天</label>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">允许密码错误次数：</label>
			<div class="col-sm-3">
				<input class="form-control" type="text" name="allowWrongCount" id="allowWrongCount" th:field="*{allowWrongCount}" required>
			</div>
			<label class="control-label">次</label>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label">密码复杂程度：</label>
			<div class="col-sm-3">
				<select name="complexity" class="form-control m-b">
					<!--<option value="">-&#45;&#45;请选择-&#45;&#45;</option>-->
					<option value="1" th:field="*{complexity}">复杂</option>
				</select>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-sm-offset-4 col-sm-10">
			<button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>确 定 </button>&nbsp;
			<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>取 消 </button>
		</div>
	</div>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
	var prefix = ctx + "system/password";

	//校验正整数
	jQuery.validator.addMethod("positiveinteger", function(value,element) {
		var aint=parseInt(value);
		return aint >= 0 && (aint+"") == value;
	}, "请输入自然数");

	$("#form-password-add").validate({
		onkeyup: false,
		rules:{
			minPsLength:{ positiveinteger:true,
				max:14
			},
			maxPsLength:{ positiveinteger:true,
				max:14
			},
			changePeriod:{ positiveinteger:true,
				max:999
			},
			allowWrongCount:{ positiveinteger:true,
				max:999
			}
		},
		messages: {
			minPsLength:{ positiveinteger:"请输入自然数"},
			maxPsLength:{ positiveinteger:"请输入自然数"},
			changePeriod:{ positiveinteger:"请输入自然数"},
			allowWrongCount:{ positiveinteger:"请输入自然数"}
		},
		focusCleanup: true
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/add", $('#form-password-add').serialize());
		}
	};

	$("#minPsLength").change(function(){
		$("#maxPsLength").val('');
	});

	$("#maxPsLength").change(function(){
		if(Number($("#maxPsLength").val()) < Number($("#minPsLength").val())){
			$.modal.alertWarning("密码最长长度必须大于最短长度");
			return;
		}
	});
</script>
</body>
</html>
