<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('日志转存')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
    <form class="form-horizontal" id="form-log-edit" th:object="${log}">
        <h4 class="form-header h4">日志转存</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">当前审计日志周期：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input name="relatively" placeholder="当前审计日志周期" class="form-control" type="text"
                                   maxlength="10"
                                   th:field="*{relatively}"><span class="input-group-addon">天</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">审计日志周期阈值：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input name="relativelyAll" placeholder="审计日志周期阈值" class="form-control" type="text"
                                   maxlength="10"><span class="input-group-addon">天</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">审计日志转存：</label>
                    <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i
                            class="fa fa-check"></i>转存日志
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>确 认
        </button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>重 置
        </button>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script>
    var prefix = ctx + "system/log";

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-log-edit").serializeArray();
            $.operate.save(prefix + "/add", data);
            //$.operate.saveTab(prefix + "/add", data);
        }
    }


    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }
</script>
</body>
</html>