<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('日志转存')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
    <form class="form-horizontal" id="form-log-edit" th:object="${logPolicy}">
        <!--<h4 class="form-header h4">日志转存</h4>-->
        <br/>
        <input id="id" name="id"  type="hidden" th:field="*{jobId}" />
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">当前审计日志周期：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input name="relatively" id="relatively" readonly="true" class="form-control" type="text"
                                   th:field="*{remark}"><span class="input-group-addon">天</span>
                        </div>
                        <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 0天表示不自动转存</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">审计日志周期阈值：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input name="relativelyAll" id="relativelyAll" placeholder="审计日志周期阈值" class="form-control" type="text"
                                   maxlength="10"><span class="input-group-addon">天</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">审计日志转存：</label>
                    <div class="col-sm-8">
                    <button type="button" class="btn btn-sm btn-primary" onclick="logTransferSave()"><i
                            class="fa fa-check"></i>转存日志
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-sm-offset-3 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>确 认
        </button>&nbsp&nbsp&nbsp
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>取 消
        </button>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script>
    var prefix = ctx + "system/log";
    //表单校验
    jQuery.validator.addMethod("positiveinteger", function(value,element) {
        var aint=parseInt(value);
        return aint > 0 && (aint+"") == value;
    }, "请输入正整数");
    jQuery.validator.addMethod("notEqual", function(value, element, param) {
        return value != param;
    }, $.validator.format("输入阈值和当前周期相同"));

    $("#form-log-edit").validate({
        onkeyup: false,
        rules:{
            relativelyAll:{ positiveinteger:true,
                notEqual:$("#relatively").val(),
                max:99999
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-log-edit").serializeArray();
            $.operate.save(prefix + "/add", data);
        }
    }

    function logTransferSave() {
        var jobId = $("#id").val();
        var jobGroup = "LOG";
        $.modal.confirm("确认要立即执行日志转存吗？", function() {
            $.operate.post(prefix + "/transferSaveLog", {"jobId": jobId, "jobGroup": jobGroup});
        })
    }
</script>
</body>
</html>