<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('创建上下文')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
    <form id="form-context-add" class="form-horizontal">
        <input name="deptId" type="hidden" id="treeId"/>
        <!--<h4 class="form-header h4">创建上下文</h4>-->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>项目编号：</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="contextProject" id="contextProject"
                                th:with="type=${@vpmCtx.getVpmDataProject()}" required>
                            <option value="">---请选择---</option>
                            <option th:each="project : ${type}" th:text="${project.projectNumber}"
                                    th:value="${project.projectNumber}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>角色：</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="contextRole" id="contextRole"
                                th:with="type=${@vpmCtx.getVpmDataRole()}" required>
                            <option value="">---请选择---</option>
                            <option th:each="role : ${type}" th:text="${role.roleName}"
                                    th:value="${role.roleName}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label"><span style="color: red; ">*</span>组织：</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="contextOrganization" id="contextOrganization"
                                th:with="type=${@vpmCtx.getVpmDataOrganization()}" required>
                            <option value="">---请选择---</option>
                            <option th:each="organization : ${type}" th:text="${organization.departmentNumber}"
                                    th:value="${organization.departmentNumber}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="col-sm-3 control-label">增加人员：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <textarea class="form-control" type="text" name="addPersonList" id="addPersonList" readonly
                                      style="background-color:#ffffff"></textarea>
                            <span class="input-group-addon" style="border: 0px">
                            <button type="button" class="btn btn-sm btn-primary" onclick="selectDeptTree()">
                                <i class="fa fa-check"></i>添加人员</button>&nbsp;
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="col-sm-3 control-label">移除人员：</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <textarea class="form-control" type="text" name="removePersonList" id="removePersonList" readonly
                                      style="background-color:#ffffff"></textarea>
                            <span class="input-group-addon" style="border: 0px">
                                <button type="button" class="btn btn-sm btn-primary" onclick="selectDeptTree()">
                                    <i class="fa fa-check"></i>添加人员</button>&nbsp;
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>确 认
        </button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>取 消
        </button>
    </div>
</div>-->
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script>
    var prefix = ctx + "system/context";

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-context-add").serializeArray();
            $.ajax({
                cache: true,
                type: "POST",
                url: prefix + "/add",
                data: data,
                async: false,
                error: function (request) {
                    $.modal.alertError("系统错误");
                },
                success: function (msg) {
                    $.operate.successCallback(msg);
                }
            });
        }
    }

    /*todo dumpling 上下文管理-添加,移除人员*/
    function selectDeptTree() {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择人员',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowParents(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }

    /*$(function () {
        $('#post').select2({
            placeholder: "请选择岗位",
            allowClear: true
        });
    })*/
</script>
</body>
</html>