<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('创建权限')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body>
<div class="main-content">
    <form id="form-access-add" class="form-horizontal" th:object="${context}">
        <input name="treeId" type="hidden" id="treeId"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">* 上下文Id：</label>
            <div class="col-sm-8">
                <input name="contextName" readonly="true" class="form-control" type="text" maxlength="30" th:field="*{contextName}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span> 类型：</label>
            <div class="col-sm-8">
                <select class="form-control" name="accessType" id="accessType" th:with="type=${@vpmCtx.getVpmType()}" required>
                    <option value="">---请选择---</option>
                    <option th:each="vpmType : ${type}" th:text="${vpmType.name}" th:value="${vpmType.name}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"><span style="color: red; ">*</span> 操作/操作组：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" type="text" name="actionGroup" onclick="selectProcessTree()" id="treeName" autocomplete="off" placeholder="请选择操作/操作组" required>
                    <span class="input-group-addon"><i class="fa fa-search" onclick="selectProcessTree()"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">数据组：</label>
            <div class="col-sm-8">
                <select class="form-control" name="dataGroup" id="dataGroup" th:with="type=${@vpmCtx.getVpmDataGroup()}">
                    <option value="">---请选择---</option>
                    <option th:each="dataGroup : ${type}" th:text="${dataGroup.dataName}" th:value="${dataGroup.dataValue}"></option>
                </select>
            </div>
        </div>
    </form>
</div>

<!--<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>确 认
        </button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>取 消
        </button>
    </div>
</div>-->
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script>
    var prefix = ctx + "system/context";
    function submitHandler() {
        if ($.validate.form()) {
            var treeId = $("#treeId").val();
            if(treeId == 0){
                $("#accessType").val("");
            }
            var data = $("#form-access-add").serializeArray();
            $.ajax({
                cache: true,
                type: "POST",
                url: prefix + "/addAccess",
                data: data,
                async: false,
                error: function (request) {
                    $.modal.alertError("系统错误");
                },
                success: function (msg) {
                    $.operate.successCallback(msg);
                }
            });
        }
    }

    /*选择操作/操作组树*/
    function selectProcessTree() {
        var url = ctx + "system/context/selectProcessTree";
        var options = {
            title: '选择操作/操作组',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var body = layer.getChildFrame('body', index);
        $("#treeId").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }
</script>
</body>
</html>