<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('修改权限')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
    <th:block th:include="include :: bootstrap-editable-css" />
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form class="form-horizontal" id="form-context-edit" th:object="${context}">
                    <input name="contextId" type="hidden" id="contextId" th:field="*{contextId}" />
                    <div class="select-list">
                        <ul>
                            <li>
                                上下文ID：<input type="text" name="contextName" readonly="true" style="border: none" th:field="*{contextName}"/>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="createAccessForContext()">
                    <i class="fa fa-plus"></i> 创建权限
                </a>
                <a class="btn btn-danger multiple disabled" onclick="deleteAccess()">
                    <i class="fa fa-remove"></i> 删除权限
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<th:block th:include="include :: bootstrap-table-editable-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:user:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:user:remove')}]];
    var resetPwdFlag = [[${@permission.hasPermi('system:user:resetPwd')}]];
    var prefix = ctx + "system/context";

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryUserList();
    });

    function queryUserList() {
        var contextId = $("#contextId").val();
        var options = {
            url: prefix + "/accessList/"+contextId,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            //editable:true,
            onEditableSave: onEditableSave,
            columns: [{
                checkbox: true
                },
                {
                    field: 'accessId',
                    title: '权限id',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'accessType',
                    title: '类型',
                    editable : {
                        type : 'select',
                        /*title : '状态',*/
                        source : [{value : "VPMadmin", text : "VPMadmin"},
                            {value : "VPMDefault", text : "VPMDefault"}]
                    }
                    /*edit:{
                        type:'select',//下拉框
                        //url:'./index.php?r=dictionary/dictionaryInfo&type='+"run",
                        data:[{id:1,text:'hello'},{id:2,text:'hi'}],
                        valueField:'id',
                        textField:'text',
                        editable : true,
                        onSelect:function(val,rec){
                            console.log(val,rec);
                        }
                    }*/
                },
                {
                    field: 'actionGroup',
                    title: '操作/操作组',
                    editable : {
                        type : 'select',
                        source : [{value : "操作1", text : "操作1"},
                            {value : "操作2", text : "操作2"}]
                    }
                },
                {
                    field: 'dataGroup',
                    title: '数据组',
                    editable : {
                        type : 'select',
                        source : [{value : "数据1", text : "数据1"},
                            {value : "数据2", text : "数据2"}]
                    }
                }/*,
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-danger btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="editAccess(\'' + row.contextId + '\')"><i class="fa fa-edit"></i>修改权限</a> ');
                        return actions.join('');
                    }
                }*/]
        };
        $.table.init(options);
    }

    function createAccessForContext() {
        table.set();
        var contextId = $("#contextId").val();
        var url = prefix + "/createAccess/"+contextId
        $.modal.open("创建权限", url);
    }

    function editAccess(contextId) {
        table.set();
        var url = prefix + "/editAccess/"+contextId
        $.modal.open("修改权限", url);
    }

    function deleteAccess() {
        table.set();
        var url = prefix + "/add"
        $.modal.openTab("删除权限", url);
    }

    function onEditableSave (field, row, oldValue, $el) {
        alert("字段名：" + field + "，当前值：" + row[field]  + "，旧值：" + oldValue);
    }
</script>
</body>
</html>