<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('修改权限')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
    <th:block th:include="include :: bootstrap-editable-css" />
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form class="form-horizontal" id="form-context-edit" th:object="${context}">
                    <div class="select-list">
                        <ul>
                            <li>
                                上下文ID：<input type="text" id="contextName" name="contextName" readonly="true" style="border: none" th:field="*{contextName}"/>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="createAccessForContext()">
                    <i class="fa fa-plus"></i> 创建权限
                </a>
                <a class="btn btn-danger multiple disabled" onclick="removeAccess()">
                    <i class="fa fa-remove"></i> 删除权限
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<th:block th:include="include :: bootstrap-table-editable-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:user:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:user:remove')}]];
    var prefix = ctx + "system/context";
    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryAccessList();
    });

    function queryAccessList() {
        var contextId = $("#contextName").val();
        var options = {
            url: prefix + "/accessList/"+contextId,
            removeUrl: prefix + "/remove",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            //editable:true,
            onEditableSave: onEditableSave,
            columns: [{
                checkbox: true
                },
                {
                    field: 'accessId',
                    title: '权限id',
                    sortable: true,
                    visible: false
                },
                {
                    field: 'accessType',
                    title: '类型',
                    editable : {
                        type : 'select',
                        source : function () {
                            var result = [];
                            result.push({ value: '', text: '' });
                            $.ajax({
                                url: prefix + "/getVpmType",
                                async: false,
                                type: "get",
                                data: {},
                                success: function (data, status) {
                                    $.each(data, function (key, value) {
                                        result.push({ value: value.name, text: value.name });
                                    });
                                }
                            });
                            return result;
                        }
                    }
                },
                {
                    field: 'actionGroup',
                    title: '操作/操作组',
                    editable : {
                        type : 'select',
                        source : function () {
                            var result = [];
                            $.ajax({
                                url: prefix + "/treeData",
                                async: false,
                                type: "get",
                                data: {},
                                success: function (data, status) {
                                    $.each(data, function (key, value) {
                                        result.push({ value: value.name, text: value.name });
                                    });
                                }
                            });
                            return result;
                        }
                    }
                },
                {
                    field: 'dataGroup',
                    title: '数据组',
                    editable : {
                        type : 'select',
                        source : function () {
                            var result = [];
                            result.push({ value: '', text: '' });
                            $.ajax({
                                url: prefix + "/getVpmDataGroup",
                                async: false,
                                type: "get",
                                data: {},
                                success: function (data, status) {
                                    $.each(data, function (key, value) {
                                        result.push({ value: value.dataName, text: value.dataName });
                                    });
                                }
                            });
                            return result;
                        }
                    }
                }]
        };
        $.table.init(options);
    }

    function createAccessForContext() {
        table.set();
        var contextId = $("#contextName").val();
        var url = prefix + "/createAccess/"+contextId
        $.modal.open("创建权限", url);
    }

    function removeAccess() {
        table.set();
        var rows = $.common.isEmpty(table.options.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns(table.options.uniqueId);
        if (rows.length == 0) {
            $.modal.alertWarning("请至少选择一条记录");
            return;
        }
        $.modal.confirm("确认要删除选中的" + rows.length + "条数据吗?", function() {
            var url = table.options.removeUrl;
            var data = { "ids": rows.join() };
            var config = {
                url: url,
                type: "post",
                dataType: "json",
                data: data,
                beforeSend: function () {
                    $.modal.loading("正在处理中，请稍后...");
                },
                success: function(result) {
                    if (typeof callback == "function") {
                        callback(result);
                    }
                    $.operate.ajaxSuccess(result);
                    parent.$("#bootstrap-table").bootstrapTable('refresh');
                }
            };
            $.ajax(config)

        });
    }

    function submitHandler() {
        //if ($.validate.form()) {
/*        var data = $("#form-context-edit").serializeArray();
        $.ajax({
            cache: true,
            type: "POST",
            url: prefix + "/updateAccessSave",
            data: data,
            async: false,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (msg) {
                $.operate.successCallback(msg);
            }
        });*/
        //}
        $.modal.close()
    }

    function onEditableSave (field, row, oldValue, $el) {
        //alert("字段名：" + field + "，当前值：" + row[field]  + "，旧值：" + oldValue);
    }
</script>
</body>
</html>